<div class="container">
  <p-card>
    <h3>基本資料</h3>
    <p-divider></p-divider>
    <div class="row">
      <div class="col-3">
        <div class="flex flex-column gap-2">
          <label>姓名</label>
          <input pInputText>
        </div>
      </div>
      <div class="col-3">
        <div class="flex flex-column gap-2">
          <label>系所</label>
          <input pInputText>
        </div>
      </div>
      <div class="col-3">
        <div class="flex flex-column gap-2">
          <label>年級</label>
          <input pInputText>
        </div>
      </div>
      <div class="col-3">
        <div class="flex flex-column gap-2">
          <label>性別</label>
          <input pInputText>
        </div>
      </div>
      <div class="col-4">
        <div class="field">
          <label>出生年</label>
          <input placeholder="西元" pInputText>
        </div>
      </div>
      <div class="col-4">
        <div class="field">
          <label>出生月</label>
          <input placeholder="col-4" pInputText>
        </div>
      </div>
      <div class="col-4">
        <div class="field">
          <label>出生日</label>
          <input placeholder="col-4" pInputText>
        </div>
      </div>
      <div class="col-12">
        <div class="field">
          <label>地址</label>
          <input pInputText>
        </div>
      </div>
      <div class="col-6">
        <div class="field">
          <label>電子郵件</label>
          <input pInputText>
        </div>
      </div>
      <div class="col-6">
        <div class="field">
          <label>連絡電話</label>
          <input pInputText>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button pButton pRipple label="確認" class="p-button-success"></button>
      <p-button label="取消" styleClass="p-button-outlined p-button-secondary"></p-button>
    </div>
  </p-card>
</div>
<div class="container">
  <p-card>
    <h3>基本資料</h3>
    <p-divider></p-divider>
    <div class="row">
      <div class="col-3">
        <div class="field">
          <label>姓名</label>
          <input placeholder="col-3" pInputText>
        </div>
      </div>
      <div class="col-3">
        <div class="field">
          <label>系所</label>
          <input placeholder="col-3" pInputText>
        </div>
      </div>
      <div class="col-3">
        <div class="field">
          <label>年級</label>
          <input placeholder="col-3" pInputText>
        </div>
      </div>
      <div class="col-3">
        <div class="field">
          <label>性別</label>
          <input placeholder="col-3" pInputText>
        </div>
      </div>
      <div class="col-4">
        <div class="field">
          <label>出生年</label>
          <input placeholder="col-4" pInputText>
        </div>
      </div>
      <div class="col-4">
        <div class="field">
          <label>出生月</label>
          <input placeholder="col-4" pInputText>
        </div>
      </div>
      <div class="col-4">
        <div class="field">
          <label>出生日</label>
          <input placeholder="col-4" pInputText>
        </div>
      </div>
      <div class="col-12">
        <div class="field">
          <label>地址</label>
          <input placeholder="col-12" pInputText>
        </div>
      </div>
      <div class="col-6">
        <div class="field">
          <label>電子郵件</label>
          <input placeholder="col-6" pInputText>
        </div>
      </div>
      <div class="col-6">
        <div class="field">
          <label>連絡電話</label>
          <input placeholder="col-6" pInputText>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col">
        <p-button label="確認"></p-button>
        <button pButton pRipple type="button" label="取消" class="p-button-outlined p-button-secondary"></button>
      </div>
    </div>
  </p-card>
</div>
