//primng
p-card {
  margin: 10px;
}

//強制更改Primeng預設樣式
:host ::ng-deep {
  .p-card {
    border-radius: 10px;
  }

  .p-button {
    border-radius: 6px;
  }

  .p-inputtext {
    width: 100%;
    border-radius: 6px;
  }

  .p-password,
  .p-dropdown {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 5px;
  }

  .p-calendar {
    width: 100%;
  }
}

.flex-center {
  //讓子元素自動佈局
  display: flex;
  //將子元素在容器的垂直方向居中對齊
  align-items: center;
}

.ml-80 {
  margin-left: 80%;
}

p-checkbox {
  //checkbox元件之間的間距
  margin-left: 10px;
  //框框跟label之間的間距
  margin-right: 5px;
}

p-radioButton {
  //radioButton元件之間的間距
  margin-left: 10px;
  //框框跟label之間的間距
  margin-right: 5px;
}

p-button,
button {
  margin-right: 5px;
}

label {
  margin-top: 10px;
}

input {
  width: 100%;
  border-radius: 6px;
}

textarea {
  width: 100%;

}

h3 {
  text-align: center;
  font-weight: bold;
  //上、右、下、左
  margin: 0 0 10px 0;
}
